@inject NavigationManager navigationManager
@inject ExpenseService expenseService
@page "/view-expense/{id:guid}"
<h3 class="text-center text-capitalize my-3 bg-black text-white py-2 fw-bold">ExpenseView</h3>
@* make bootstrap card to display expense details *@
<div>
    <div class="card">
        <div class="card-header">
            <h5>@expense.Title</h5>
        </div>
        <div class="card-body">
            <p><strong>Note:</strong> @expense.Description</p>
            <p><strong>Amount:</strong> ₹ @expense.Amount.ToString()</p>
            <p><strong>Date:</strong> @expense.Date.ToShortDateString()</p>
            <p><strong>Category:</strong> @expense.Category.ToString()</p>
            <p><strong>Payment Method:</strong> @expense.AccountType.ToString()</p>
            <button class="btn btn-primary" @onclick="NavigateToEditExpense">Edit</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid id { get; set; }
    private Expense expense;
    protected override void OnInitialized()
    {
        expense = expenseService.GetExpenseById(id);
    }
    private void NavigateToEditExpense()
    {
        navigationManager.NavigateTo($"/edit-expense/{id}");
    }
}
